
/********** Expanding Search **********/
section.section {
  border-top: 5px solid #282828;
  padding: 50px 0;
  width: 50%;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.sb-search {
	position: relative;
	margin-top: -28px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: relative;
  background: #282828;
  padding-left: 20px;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 100%;
	height: 58.5px;
	margin: 0;
	z-index: 10;
	font-family: 'Lato';
	font-size: 17px;
	color: #fff;
}

input[type="search"].sb-search-input {
	-webkit-appearance: none;
}

.sb-search-input::-webkit-input-placeholder {
	color: #fff;
	font-weight:normal;
	font-size: 17px;
	font-family: 'Lato';
}

.sb-search-input:-moz-placeholder {
	color: #fff;
	font-weight:normal;
	font-size: 17px;
	font-family: 'Lato';
}

.sb-search-input::-moz-placeholder {
	color: #fff;
	font-weight:normal;
	font-size: 17px;
	font-family: 'Lato';
}

.sb-search-input:-ms-input-placeholder {
	color: #fff;
	font-weight:normal;
	font-size: 17px;
	font-family: 'Lato';
}

.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #c39f77;
	z-index: 90;
	font-size: 22px;
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:hover {
	background: #9f8465;
}

.sb-icon-search:before {
	content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #9f8465;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
/********** End Expanding Search **********/